@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    <InputText @bind-Value="Name"
               placeholder="Name"
               @ref="@InputTextName" />

    <InputText @bind-Value="Email"
               placeholder="Email" />

    <button @onclick="AddUserEfCore" type="button">
        Add User (EF Core)
    </button>

    <button @onclick="AddUserDapper" type="button">
        Add User (Dapper)
    </button>
</div>

@UserList(nameof(DapperUsers), DapperUsers)
@UserList(nameof(EfCoreUsers), EfCoreUsers)

@code {
    RenderFragment UserList(string listName, List<User> users) =>
    @<div>
        <h2>
            @listName count: @users.Count
        </h2>

        <ul>
            @foreach (var user in users)
        {
            <li>
                @user.ToString()
            </li>

            <button @onclick="async () => await DeleteUserEfCore(user.Id)">
                Remove (EF Core)
            </button>

            <button @onclick="async () => await DeleteUserDapper(user.Id)">
                Remove (Dapper)
            </button>
        }
        </ul>
    </div>;
}
